body,div, p,ul,ol,li,a{margin:0px;padding:0px;}
li{list-style:none;}
body{font-family: "Microsoft Yahei";background:#444}
a{text-decoration:none;}



.pageCnt{padding-top:200px;font-size:24px;text-align:center;}
.testButton{width: 400px;height:50px;line-height:50px;margin:0px auto 50px;border-radius:4px;box-shadow:1px 1px 3px #000; background: #fff;color:#333;}

.zlk_panel{position: absolute;width:140px;
	background:#fff;border:1px solid #444;border-radius:4px;
	box-shadow:1px 1px 40px #000;
}
.zlk_pa_list{
	padding:4px 0px;
}
.zlk_pa_list li{line-height:20px;}

.zlk_pa_list li span,
.zlk_pa_list li a{
	line-height:20px;
	display:block;
	font-size:12px;
	color:#aaa;
	text-indent:2em;
	padding: 2px 5px;
}
.zlk_pa_list li a{
	color:#444;
}
.zlk_pa_list li a:hover{
	color:#222;
	background:#eee;
}